/* body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    margin: 0;
    background-color: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
}
   */
/* .side-menu {
    grid-column: 1;
}
   */
   
   .login-wrapper {
    height: 100vh;
  }
  
  .box {
    width: 100%;
    max-width: 500px;
    padding: 20px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .file-upload {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .btn-block {
    width: 100%;
  }
  
  
  
  